@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/amazon-ember");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
#es-rc #es-rc-content{--es-rc-black:#000;--es-rc-white:#fff;--es-rc-primary:#000;--es-rc-secondary:#000;--es-rc-primary-rgb:0,0,0;--es-rc-secondary-rgb:0,0,0;--es-rc-primary-text-emphasis:black;--es-rc-secondary-text-emphasis:black;--es-rc-primary-bg-subtle:#cccccc;--es-rc-secondary-bg-subtle:#cccccc;--es-rc-primary-border-subtle:#999999;--es-rc-secondary-border-subtle:#999999;--es-rc-white-rgb:255,255,255;--es-rc-black-rgb:0,0,0;--es-rc-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--es-rc-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--es-rc-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));--es-rc-body-font-family:var(--es-rc-font-sans-serif);--es-rc-body-font-size:1rem;--es-rc-body-font-weight:400;--es-rc-body-line-height:1.5;--es-rc-body-text-align:left;--es-rc-body-color:#000;--es-rc-body-color-rgb:0,0,0;--es-rc-body-bg:#fff;--es-rc-body-bg-rgb:255,255,255;--es-rc-emphasis-color:#000;--es-rc-emphasis-color-rgb:0,0,0;--es-rc-secondary-color:rgba(0, 0, 0, 0.75);--es-rc-secondary-color-rgb:0,0,0;--es-rc-secondary-bg:#fff;--es-rc-secondary-bg-rgb:255,255,255;--es-rc-tertiary-color:rgba(0, 0, 0, 0.5);--es-rc-tertiary-color-rgb:0,0,0;--es-rc-tertiary-bg:#fff;--es-rc-tertiary-bg-rgb:255,255,255;--es-rc-heading-color:#000;--es-rc-link-color:#000;--es-rc-link-color-rgb:0,0,0;--es-rc-link-decoration:none;--es-rc-link-hover-color:black;--es-rc-link-hover-color-rgb:0,0,0;--es-rc-code-color:pink;--es-rc-highlight-bg:yellow;--es-rc-border-width:1px;--es-rc-border-style:solid;--es-rc-border-color:#000;--es-rc-border-color-translucent:rgba(0, 0, 0, 0.175);--es-rc-border-radius:1rem;--es-rc-border-radius-sm:0.25rem;--es-rc-border-radius-lg:0.5rem;--es-rc-border-radius-xl:1rem;--es-rc-border-radius-xxl:2rem;--es-rc-border-radius-2xl:var(--es-rc-border-radius-xxl);--es-rc-border-radius-pill:50rem;--es-rc-box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.15);--es-rc-box-shadow-sm:0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);--es-rc-box-shadow-lg:0 1rem 3rem rgba(0, 0, 0, 0.175);--es-rc-box-shadow-inset:inset 0 1px 2px rgba(0, 0, 0, 0.075);--es-rc-focus-ring-width:0.25rem;--es-rc-focus-ring-opacity:0.25;--es-rc-focus-ring-color:rgba(0, 0, 0, 0.25);--es-rc-form-valid-color:green;--es-rc-form-valid-border-color:green;--es-rc-form-invalid-color:red;--es-rc-form-invalid-border-color:red}#es-rc #es-rc-content *,#es-rc #es-rc-content ::after,#es-rc #es-rc-content ::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}#es-rc #es-rc-content{margin:0;font-family:var(--es-rc-body-font-family);font-size:var(--es-rc-body-font-size);font-weight:var(--es-rc-body-font-weight);line-height:var(--es-rc-body-line-height);color:var(--es-rc-body-color);text-align:var(--es-rc-body-text-align);background-color:var(--es-rc-body-bg);-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}#es-rc #es-rc-content p{margin-top:0;margin-bottom:1rem}#es-rc #es-rc-content ol,#es-rc #es-rc-content ul{padding-left:2rem}#es-rc #es-rc-content ol,#es-rc #es-rc-content ul{margin-top:0;margin-bottom:1rem}#es-rc #es-rc-content strong{font-weight:bolder}#es-rc #es-rc-content sup{position:relative;font-size:.75em;line-height:0;vertical-align:baseline}#es-rc #es-rc-content sup{top:-.5em}#es-rc #es-rc-content a{color:rgba(var(--es-rc-link-color-rgb),var(--es-rc-link-opacity,1));text-decoration:none}#es-rc #es-rc-content a:hover{--es-rc-link-color-rgb:var(--es-rc-link-hover-color-rgb)}#es-rc #es-rc-content img{vertical-align:middle}#es-rc #es-rc-content table{caption-side:bottom;border-collapse:collapse}#es-rc #es-rc-content th{text-align:inherit;text-align:-webkit-match-parent}#es-rc #es-rc-content tbody,#es-rc #es-rc-content td,#es-rc #es-rc-content th,#es-rc #es-rc-content thead,#es-rc #es-rc-content tr{border-color:inherit;border-style:solid;border-width:0;background-color:#FFF}#es-rc #es-rc-content button:focus:not(:focus-visible){outline:0}#es-rc #es-rc-content [type=button]:not(:disabled),#es-rc #es-rc-content [type=reset]:not(:disabled),#es-rc #es-rc-content [type=submit]:not(:disabled),#es-rc #es-rc-content button:not(:disabled){cursor:pointer}#es-rc #es-rc-content ::-moz-focus-inner{padding:0;border-style:none}#es-rc #es-rc-content ::-webkit-datetime-edit-day-field,#es-rc #es-rc-content ::-webkit-datetime-edit-fields-wrapper,#es-rc #es-rc-content ::-webkit-datetime-edit-hour-field,#es-rc #es-rc-content ::-webkit-datetime-edit-minute,#es-rc #es-rc-content ::-webkit-datetime-edit-month-field,#es-rc #es-rc-content ::-webkit-datetime-edit-text,#es-rc #es-rc-content ::-webkit-datetime-edit-year-field{padding:0}#es-rc #es-rc-content ::-webkit-inner-spin-button{height:auto}#es-rc #es-rc-content ::-webkit-search-decoration{-webkit-appearance:none}#es-rc #es-rc-content ::-webkit-color-swatch-wrapper{padding:0}#es-rc #es-rc-content ::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}#es-rc #es-rc-content ::file-selector-button{font:inherit;-webkit-appearance:button}#es-rc #es-rc-content .img-fluid{max-width:100%;height:auto}#es-rc #es-rc-content .container{--es-rc-gutter-x:1.5rem;--es-rc-gutter-y:0;width:100%;padding-right:calc(var(--es-rc-gutter-x) * .5);padding-left:calc(var(--es-rc-gutter-x) * .5);margin-right:auto;margin-left:auto}@media (min-width:576px){#es-rc #es-rc-content .container{max-width:540px}}@media (min-width:768px){#es-rc #es-rc-content .container{max-width:720px}}@media (min-width:992px){#es-rc #es-rc-content .container{max-width:960px}}@media (min-width:1200px){#es-rc #es-rc-content .container{max-width:1140px}}@media (min-width:1600px){#es-rc #es-rc-content .container{max-width:1520px}}#es-rc #es-rc-content .row{--es-rc-gutter-x:1.5rem;--es-rc-gutter-y:0;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-top:calc(-1 * var(--es-rc-gutter-y));margin-right:calc(-.5 * var(--es-rc-gutter-x));margin-left:calc(-.5 * var(--es-rc-gutter-x))}#es-rc #es-rc-content .row>*{-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--es-rc-gutter-x) * .5);padding-left:calc(var(--es-rc-gutter-x) * .5);margin-top:var(--es-rc-gutter-y)}#es-rc #es-rc-content .col-5{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:25%}#es-rc #es-rc-content .col-6{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:50%}#es-rc #es-rc-content .col-7{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:75%}#es-rc #es-rc-content .col-12{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:100%}@media (min-width:576px){#es-rc #es-rc-content .col-sm-3{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:25%}#es-rc #es-rc-content .col-sm-6{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:50%}#es-rc #es-rc-content .col-sm-9{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:75%}#es-rc #es-rc-content .col-sm-10{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:83.33333333%}#es-rc #es-rc-content .col-sm-12{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:100%}}@media (min-width:768px){#es-rc #es-rc-content .col-md-2{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:16.66666667%}#es-rc #es-rc-content .col-md-3{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:25%}#es-rc #es-rc-content .col-md-8{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:66.66666667%}#es-rc #es-rc-content .col-md-10{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:83.33333333%}}@media (min-width:992px){#es-rc #es-rc-content .col-lg-3{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:25%}#es-rc #es-rc-content .col-lg-6{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:50%}}@media (min-width:1200px){#es-rc #es-rc-content .col-xl-6{-webkit-box-flex:0;-webkit-flex:0 0 auto;-moz-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:50%}}#es-rc #es-rc-content .table{--es-rc-table-color:var(--es-rc-body-color);--es-rc-table-bg:transparent;--es-rc-table-border-color:var(--es-rc-border-color);--es-rc-table-accent-bg:transparent;--es-rc-table-striped-color:var(--es-rc-body-color);--es-rc-table-striped-bg:rgba(0, 0, 0, 0.05);--es-rc-table-active-color:var(--es-rc-body-color);--es-rc-table-active-bg:rgba(0, 0, 0, 0.1);--es-rc-table-hover-color:var(--es-rc-body-color);--es-rc-table-hover-bg:rgba(0, 0, 0, 0.075);width:100%;margin-bottom:1rem;color:var(--es-rc-table-color);vertical-align:top;border-color:var(--es-rc-table-border-color)}#es-rc #es-rc-content .table>:not(caption)>*>*{padding:.5rem .5rem;background-color:var(--es-rc-table-bg);border-bottom-width:var(--es-rc-border-width);-webkit-box-shadow:inset 0 0 0 9999px var(--es-rc-table-accent-bg);box-shadow:inset 0 0 0 9999px var(--es-rc-table-accent-bg)}#es-rc #es-rc-content .table>tbody{vertical-align:inherit}#es-rc #es-rc-content .table>thead{vertical-align:bottom}#es-rc #es-rc-content .table-responsive{overflow-x:auto;-webkit-overflow-scrolling:touch}#es-rc #es-rc-content .form-control[type=file]:not(:disabled):not([readonly]){cursor:pointer}#es-rc #es-rc-content .form-control::file-selector-button{padding:.375rem .75rem;margin:-.375rem -.75rem;-webkit-margin-end:.75rem;-moz-margin-end:.75rem;margin-inline-end:.75rem;color:var(--es-rc-body-color);background-color:var(--es-rc-tertiary-bg);pointer-events:none;border-color:inherit;border-style:solid;border-width:0;border-inline-end-width:var(--es-rc-border-width);border-radius:0;-webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out}@media (prefers-reduced-motion:reduce){#es-rc #es-rc-content .form-control::file-selector-button{-webkit-transition:none;transition:none}}#es-rc #es-rc-content .form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button{background-color:var(--es-rc-secondary-bg)}#es-rc #es-rc-content .form-control:hover:not(:disabled):not([readonly])::file-selector-button{background-color:var(--es-rc-secondary-bg)}#es-rc #es-rc-content .form-control-sm::file-selector-button{padding:.25rem .5rem;margin:-.25rem -.5rem;-webkit-margin-end:.5rem;-moz-margin-end:.5rem;margin-inline-end:.5rem}#es-rc #es-rc-content .form-control-lg::file-selector-button{padding:.5rem 1rem;margin:-.5rem -1rem;-webkit-margin-end:1rem;-moz-margin-end:1rem;margin-inline-end:1rem}#es-rc #es-rc-content .form-control-color:not(:disabled):not([readonly]){cursor:pointer}#es-rc #es-rc-content .form-floating>.form-control-plaintext:not(:-moz-placeholder-shown),#es-rc #es-rc-content .form-floating>.form-control:not(:-moz-placeholder-shown){padding-top:1.625rem;padding-bottom:.625rem}#es-rc #es-rc-content .form-floating>.form-control-plaintext:not(:-moz-placeholder-shown), #es-rc #es-rc-content .form-floating>.form-control:not(:-moz-placeholder-shown){padding-top:1.625rem;padding-bottom:.625rem}#es-rc #es-rc-content .form-floating>.form-control-plaintext:not(:-ms-input-placeholder), #es-rc #es-rc-content .form-floating>.form-control:not(:-ms-input-placeholder){padding-top:1.625rem;padding-bottom:.625rem}#es-rc #es-rc-content .form-floating>.form-control:not(:-moz-placeholder-shown)~label{color:rgba(var(--es-rc-body-color-rgb),.65);transform:scale(.85) translateY(-.5rem) translateX(.15rem)}#es-rc #es-rc-content .form-floating>.form-control:not(:-ms-input-placeholder)~label{color:rgba(var(--es-rc-body-color-rgb),.65);-ms-transform:scale(.85) translateY(-.5rem) translateX(.15rem);transform:scale(.85) translateY(-.5rem) translateX(.15rem)}#es-rc #es-rc-content .form-floating>.form-control:not(:-moz-placeholder-shown)~label::after{position:absolute;inset:1rem 0.375rem;z-index:-1;height:1.5em;content:"";background-color:var(--es-rc-body-bg);border-radius:var(--es-rc-border-radius)}#es-rc #es-rc-content .form-floating>.form-control:not(:-ms-input-placeholder)~label::after{position:absolute;inset:1rem 0.375rem;z-index:-1;height:1.5em;content:"";background-color:var(--es-rc-body-bg);border-radius:var(--es-rc-border-radius)}#es-rc #es-rc-content .form-floating>:disabled~label{color:#333}#es-rc #es-rc-content .form-floating>:disabled~label::after{background-color:var(--es-rc-secondary-bg)}#es-rc #es-rc-content .input-group>.form-control:not(:focus).is-valid,#es-rc #es-rc-content .input-group>.form-floating:not(:focus-within).is-valid,#es-rc #es-rc-content .input-group>.form-select:not(:focus).is-valid,.was-validated #es-rc #es-rc-content .input-group>.form-control:not(:focus):valid,.was-validated #es-rc #es-rc-content .input-group>.form-floating:not(:focus-within):valid,.was-validated #es-rc #es-rc-content .input-group>.form-select:not(:focus):valid{z-index:3}#es-rc #es-rc-content .input-group>.form-control:not(:focus).is-invalid,#es-rc #es-rc-content .input-group>.form-floating:not(:focus-within).is-invalid,#es-rc #es-rc-content .input-group>.form-select:not(:focus).is-invalid,.was-validated #es-rc #es-rc-content .input-group>.form-control:not(:focus):invalid,.was-validated #es-rc #es-rc-content .input-group>.form-floating:not(:focus-within):invalid,.was-validated #es-rc #es-rc-content .input-group>.form-select:not(:focus):invalid{z-index:4}#es-rc #es-rc-content .btn:focus-visible{color:var(--es-rc-btn-hover-color);background-color:var(--es-rc-btn-hover-bg);border-color:var(--es-rc-btn-hover-border-color);outline:0;-webkit-box-shadow:var(--es-rc-btn-focus-box-shadow);box-shadow:var(--es-rc-btn-focus-box-shadow)}.btn-check:focus-visible+#es-rc #es-rc-content .btn{border-color:var(--es-rc-btn-hover-border-color);outline:0;-webkit-box-shadow:var(--es-rc-btn-focus-box-shadow);box-shadow:var(--es-rc-btn-focus-box-shadow)}#es-rc #es-rc-content .btn.active:focus-visible,#es-rc #es-rc-content .btn.show:focus-visible,#es-rc #es-rc-content .btn:first-child:active:focus-visible,.btn-check:checked+#es-rc #es-rc-content .btn:focus-visible,:not(.btn-check)+#es-rc #es-rc-content .btn:active:focus-visible{-webkit-box-shadow:var(--es-rc-btn-focus-box-shadow);box-shadow:var(--es-rc-btn-focus-box-shadow)}#es-rc #es-rc-content .btn-link:focus-visible{color:var(--es-rc-btn-color)}#es-rc #es-rc-content .nav-link:focus-visible{outline:0;-webkit-box-shadow:0 0 0 .25rem rgba(0,0,0,.25);box-shadow:0 0 0 .25rem rgba(0,0,0,.25)}#es-rc #es-rc-content .card{--es-rc-card-spacer-y:1rem;--es-rc-card-spacer-x:1rem;--es-rc-card-title-spacer-y:0.5rem;--es-rc-card-title-color: ;--es-rc-card-subtitle-color: ;--es-rc-card-border-width:var(--es-rc-border-width);--es-rc-card-border-color:var(--es-rc-border-color-translucent);--es-rc-card-border-radius:var(--es-rc-border-radius);--es-rc-card-box-shadow: ;--es-rc-card-inner-border-radius:calc(var(--es-rc-border-radius) - (var(--es-rc-border-width)));--es-rc-card-cap-padding-y:0.5rem;--es-rc-card-cap-padding-x:1rem;--es-rc-card-cap-bg:rgba(var(--es-rc-body-color-rgb), 0.03);--es-rc-card-cap-color: ;--es-rc-card-height: ;--es-rc-card-color: ;--es-rc-card-bg:var(--es-rc-body-bg);--es-rc-card-img-overlay-padding:1rem;--es-rc-card-group-margin:0.75rem;position:relative;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column;min-width:0;height:var(--es-rc-card-height);color:var(--es-rc-body-color);word-wrap:break-word;background-color:var(--es-rc-card-bg);background-clip:border-box;border:var(--es-rc-card-border-width) solid var(--es-rc-card-border-color);border-radius:var(--es-rc-card-border-radius)}#es-rc #es-rc-content .icon-link-hover:focus-visible>.bi{-webkit-transform:var(--es-rc-icon-link-transform,translate3d(.25em,0,0));transform:var(--es-rc-icon-link-transform,translate3d(.25em,0,0))}#es-rc #es-rc-content .visually-hidden-focusable:not(:focus):not(:focus-within){width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0}#es-rc #es-rc-content .visually-hidden-focusable:not(:focus):not(:focus-within):not(caption){position:absolute}#es-rc #es-rc-content .d-flex{display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex}#es-rc #es-rc-content .position-relative{position:relative}#es-rc #es-rc-content .position-absolute{position:absolute}#es-rc #es-rc-content .w-100{width:100%}#es-rc #es-rc-content .flex-column{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;-ms-flex-direction:column;flex-direction:column}#es-rc #es-rc-content .flex-nowrap{-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap}#es-rc #es-rc-content .justify-content-start{-webkit-box-pack:start;-webkit-justify-content:flex-start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}#es-rc #es-rc-content .justify-content-center{-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center}#es-rc #es-rc-content .align-items-start{-webkit-box-align:start;-webkit-align-items:flex-start;-moz-box-align:start;-ms-flex-align:start;align-items:flex-start}#es-rc #es-rc-content .m-0{margin:0}#es-rc #es-rc-content .m-auto{margin:auto}#es-rc #es-rc-content .mt-3{margin-top:1rem}#es-rc #es-rc-content .mt-4{margin-top:1.5rem}#es-rc #es-rc-content .mb-3{margin-bottom:1rem}#es-rc #es-rc-content .p-0{padding:0}#es-rc #es-rc-content .px-1{padding-right:.25rem;padding-left:.25rem}#es-rc #es-rc-content .px-2{padding-right:.5rem;padding-left:.5rem}#es-rc #es-rc-content .py-3{padding-top:1rem;padding-bottom:1rem}#es-rc #es-rc-content .pt-2{padding-top:.5rem}#es-rc #es-rc-content .pt-3{padding-top:1rem}#es-rc #es-rc-content .pt-4{padding-top:1.5rem}#es-rc #es-rc-content .pb-0{padding-bottom:0}#es-rc #es-rc-content .text-center{text-align:center}#es-rc #es-rc-content .rounded{border-radius:var(--es-rc-border-radius)}@media (min-width:576px){#es-rc #es-rc-content .justify-content-sm-center{-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center}}@media (min-width:992px){#es-rc #es-rc-content .px-lg-2{padding-right:.5rem;padding-left:.5rem}#es-rc #es-rc-content .px-lg-3{padding-right:1rem;padding-left:1rem}#es-rc #es-rc-content .py-lg-3{padding-top:1rem;padding-bottom:1rem}#es-rc #es-rc-content .pt-lg-3{padding-top:1rem}#es-rc #es-rc-content .pt-lg-5{padding-top:3rem}#es-rc #es-rc-content .pb-lg-5{padding-bottom:3rem}}

ol,p,ul{margin-top:0;margin-bottom:1rem}ol,p,ul{margin-bottom:1rem}img{vertical-align:middle}body{text-align:left}sup{vertical-align:baseline}.fdb-block,.fdb-block .container{background-position:center;background-repeat:no-repeat}*,::after,::before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent}@-ms-viewport{width:device-width}body{margin:0;font-family:Lato,Helvetica,Arial;font-size:1em;font-weight:400;line-height:1.5;color:#444;background-color:#fff}.btn:not(:disabled):not(.disabled){cursor:pointer}strong{font-weight:bolder}sup{position:relative;font-size:75%;line-height:0}sup{top:-.5em}a{color:#329ef7;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}a:hover{color:#0056b3;text-decoration:underline}img{border-style:none}table{border-collapse:collapse}th{text-align:inherit}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}p{font-weight:400}.fdb-block,.rounded{overflow:hidden}.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(50,158,247,.5);box-shadow:0 0 0 .2rem rgba(50,158,247,.5)}.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active{color:#fff;background-color:#0986ed;border-color:#097fe0}.btn-secondary:not(:disabled):not(.disabled).active:focus,.btn-secondary:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(254,102,85,.5);box-shadow:0 0 0 .2rem rgba(254,102,85,.5)}.btn-secondary:not(:disabled):not(.disabled).active,.btn-secondary:not(:disabled):not(.disabled):active{color:#fff;background-color:#fe3822;border-color:#fe2d16}.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(40,167,69,.5);box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}.btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled):active{color:#fff;background-color:#1e7e34;border-color:#1c7430}.btn-info:not(:disabled):not(.disabled).active:focus,.btn-info:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(23,162,184,.5);box-shadow:0 0 0 .2rem rgba(23,162,184,.5)}.btn-info:not(:disabled):not(.disabled).active,.btn-info:not(:disabled):not(.disabled):active{color:#fff;background-color:#117a8b;border-color:#10707f}.btn-warning:not(:disabled):not(.disabled).active:focus,.btn-warning:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(255,193,7,.5);box-shadow:0 0 0 .2rem rgba(255,193,7,.5)}.btn-warning:not(:disabled):not(.disabled).active,.btn-warning:not(:disabled):not(.disabled):active{color:#212529;background-color:#d39e00;border-color:#c69500}.btn-danger:not(:disabled):not(.disabled).active:focus,.btn-danger:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(220,53,69,.5);box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}.btn-danger:not(:disabled):not(.disabled).active,.btn-danger:not(:disabled):not(.disabled):active{color:#fff;background-color:#bd2130;border-color:#b21f2d}.btn-light:not(:disabled):not(.disabled).active:focus,.btn-light:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(248,249,250,.5);box-shadow:0 0 0 .2rem rgba(248,249,250,.5)}.btn-light:not(:disabled):not(.disabled).active,.btn-light:not(:disabled):not(.disabled):active{color:#212529;background-color:#dae0e5;border-color:#d3d9df}.btn-dark:not(:disabled):not(.disabled).active:focus,.btn-dark:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(52,58,64,.5);box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}.btn-dark:not(:disabled):not(.disabled).active,.btn-dark:not(:disabled):not(.disabled):active{color:#fff;background-color:#1d2124;border-color:#171a1d}.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.btn-outline-primary:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(50,158,247,.5);box-shadow:0 0 0 .2rem rgba(50,158,247,.5)}.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active{color:#fff;background-color:#329ef7;border-color:#329ef7}.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,.btn-outline-secondary:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(254,102,85,.5);box-shadow:0 0 0 .2rem rgba(254,102,85,.5)}.btn-outline-secondary:not(:disabled):not(.disabled).active,.btn-outline-secondary:not(:disabled):not(.disabled):active{color:#fff;background-color:#fe6655;border-color:#fe6655}.btn-outline-success:not(:disabled):not(.disabled).active:focus,.btn-outline-success:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(40,167,69,.5);box-shadow:0 0 0 .2rem rgba(40,167,69,.5)}.btn-outline-success:not(:disabled):not(.disabled).active,.btn-outline-success:not(:disabled):not(.disabled):active{color:#fff;background-color:#28a745;border-color:#28a745}.btn-outline-info:not(:disabled):not(.disabled).active:focus,.btn-outline-info:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(23,162,184,.5);box-shadow:0 0 0 .2rem rgba(23,162,184,.5)}.btn-outline-info:not(:disabled):not(.disabled).active,.btn-outline-info:not(:disabled):not(.disabled):active{color:#fff;background-color:#17a2b8;border-color:#17a2b8}.btn-outline-warning:not(:disabled):not(.disabled).active:focus,.btn-outline-warning:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(255,193,7,.5);box-shadow:0 0 0 .2rem rgba(255,193,7,.5)}.btn-outline-warning:not(:disabled):not(.disabled).active,.btn-outline-warning:not(:disabled):not(.disabled):active{color:#212529;background-color:#ffc107;border-color:#ffc107}.btn-outline-danger:not(:disabled):not(.disabled).active:focus,.btn-outline-danger:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(220,53,69,.5);box-shadow:0 0 0 .2rem rgba(220,53,69,.5)}.btn-outline-danger:not(:disabled):not(.disabled).active,.btn-outline-danger:not(:disabled):not(.disabled):active{color:#fff;background-color:#dc3545;border-color:#dc3545}.btn-outline-light:not(:disabled):not(.disabled).active:focus,.btn-outline-light:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(248,249,250,.5);box-shadow:0 0 0 .2rem rgba(248,249,250,.5)}.btn-outline-light:not(:disabled):not(.disabled).active,.btn-outline-light:not(:disabled):not(.disabled):active{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa}.btn-outline-dark:not(:disabled):not(.disabled).active:focus,.btn-outline-dark:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 0 0 .2rem rgba(52,58,64,.5);box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}.btn-outline-dark:not(:disabled):not(.disabled).active,.btn-outline-dark:not(:disabled):not(.disabled):active{color:#fff;background-color:#343a40;border-color:#343a40}p{color:#8892a0}.fdb-block{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-rendering:optimizelegibility;padding:7.5rem 0;position:relative;background-size:cover;background-color:#FFF}.fdb-block .container{background-size:contain}.fdb-block img+p{margin-top:1.25rem}.bg-dark{background-color:#2d313c;color:#f2f2f2}

.fdb-block {
    margin-top:3em;
}
@keyframes pulse {
  0% {
    transform: scaleX(1);
  }
  10% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  20% {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes pulseSlowly {
  0% {
    transform: scaleX(1);
  }
  70% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scaleX(1);
  }
}
.fdb-block {
  margin-top: 0;
  padding: 0 0 1.5rem 0;
}

#es-rc #es-rc-content {
  font-family: "Montserrat";
  font-size: clamp(12px, 9.722px + 0.6329vw, 16px);
  font-weight: 300;
  line-height: 1.2;
  max-width: 992px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
#es-rc #es-rc-content .es-image-box {
  overflow: hidden;
}
#es-rc #es-rc-content .es-pulseSlowly {
  animation: pulseSlowly 2s infinite;
}
#es-rc #es-rc-content em {
  font-style: normal;
}
#es-rc #es-rc-content .es-kv__container {
  padding: 0;
}
#es-rc #es-rc-content .es-kv__packshotCtn {
  position: absolute;
  bottom: 0;
  padding-block: 1.5rem;
  padding-inline: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 391px) {
  #es-rc #es-rc-content .es-kv__packshotCtn {
    padding-top: 1.3rem;
  }
}
#es-rc #es-rc-content .es-kv__mobile {
  display: block;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-kv__mobile {
    display: none;
  }
}
#es-rc #es-rc-content .es-kv__desktop {
  display: none;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-kv__desktop {
    display: block;
  }
}
#es-rc #es-rc-content .es-kv__text {
  font-family: "Montserrat";
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  font-size: clamp(1.375rem, 0.2143rem + 5.8036vw, 3.8125rem);
}
@media (max-width: 391px) {
  #es-rc #es-rc-content .es-kv__text {
    font-size: 22px;
  }
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-kv__text {
    max-width: 80%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #es-rc #es-rc-content .es-kv__text {
    font-size: 35px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #es-rc #es-rc-content .es-kv__text {
    font-size: 45px;
    max-width: 92%;
  }
}
#es-rc #es-rc-content .es-kv__text--em {
  display: block;
  font-style: normal;
  font-size: clamp(1.25rem, 0.4167rem + 4.1667vw, 3rem);
  margin-bottom: 8px;
}
@media (max-width: 391px) {
  #es-rc #es-rc-content .es-kv__text--em {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #es-rc #es-rc-content .es-kv__text--em {
    font-size: 27px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #es-rc #es-rc-content .es-kv__text--em {
    font-size: 35px;
  }
}
#es-rc #es-rc-content .es-kv__packshot {
  animation: slideleft 1s ease forwards;
  bottom: 0;
  margin-left: 1rem;
  /* margin-top: 0.5rem; */
  width: 28%;
  max-width: 174px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-kv__packshot {
    width: 19%;
    margin-left: 2rem;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__packshot {
    width: 18%;
    margin-left: 3rem;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__packshot {
    width: 21%;
  }
}
#es-rc #es-rc-content .es-features {
  font-family: "Amazon Ember", sans-serif;
  font-size: clamp(12px, 9.722px + 0.6329vw, 16px);
}
#es-rc #es-rc-content .es-features__box {
  padding-inline: 0.45rem;
}
#es-rc #es-rc-content .es-features__title {
  font-size: 1.2em;
  font-weight: 900;
  color: #000;
  max-width: 210px;
  height: 3.6em;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-features__title {
    font-size: 1.3em;
    margin-bottom: 16px;
  }
}
#es-rc #es-rc-content .es-features__desc {
  font-size: clamp(12px, 9.722px + 0.6329vw, 16px);
  font-weight: 500;
  color: #000;
  max-width: 210px;
}
#es-rc #es-rc-content .es-description {
  background: rgb(4, 94, 72);
  background: linear-gradient(90deg, rgb(4, 94, 72) 22%, rgb(4, 132, 100) 40%, rgb(4, 109, 84) 67%, rgb(4, 124, 97) 95%, rgb(4, 116, 92) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#045e48", endColorstr="#04745c", GradientType=1);
}
#es-rc #es-rc-content .es-description__text {
  font-family: "Montserrat";
  font-size: clamp(22px, 12.88px + 2.532vw, 38px);
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  width: 86%;
  margin: auto;
}
@media (max-width: 391px) {
  #es-rc #es-rc-content .es-description__text {
    width: 100%;
    font-size: 17px;
  }
}
#es-rc #es-rc-content .es-description__subtitle {
  color: #fff;
  padding: 0 10px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: clamp(18px, 13.04px + 1.377vw, 26.7px);
  font-family: "Montserrat";
  line-height: 1.3;
  margin: 0 auto 10px;
}
@media (max-width: 391px) {
  #es-rc #es-rc-content .es-description__subtitle {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-description__subtitle {
    max-width: 90%;
    margin-inline: auto;
  }
}
#es-rc #es-rc-content .es-description__box > img {
  width: 65%;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-description__box > img {
    width: 57%;
  }
}
#es-rc #es-rc-content .es-description__list {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 52%;
  margin-inline: auto;
  margin-bottom: 0;
}
@media (max-width: 389px) {
  #es-rc #es-rc-content .es-description__list {
    max-width: 80%;
  }
}
@media (min-width: 390px) and (max-width: 450px) {
  #es-rc #es-rc-content .es-description__list {
    max-width: 68%;
  }
}
#es-rc #es-rc-content .es-description__li-text {
  color: #a1bd39;
  font-weight: 700;
  margin: 0;
}
#es-rc #es-rc-content .es-description__item {
  display: flex;
  align-items: start;
}
#es-rc #es-rc-content .es-description__bullet {
  margin-right: 5px;
  animation: pulse 5s infinite;
  width: 16px;
}
#es-rc #es-rc-content .es-description__bullet--2 {
  animation-delay: 1s;
}
#es-rc #es-rc-content .es-description__bullet--3 {
  animation-delay: 2s;
}
#es-rc #es-rc-content .es-description__bullet--4 {
  animation-delay: 3s;
}
#es-rc #es-rc-content .es-description__text1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: clamp(12px, 9.722px + 0.6329vw, 16px);
  max-width: 61%;
  margin: auto;
}
@media (max-width: 415px) {
  #es-rc #es-rc-content .es-description__text1 {
    max-width: 95%;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-description__text1 {
    max-width: 86%;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-description__text1 {
    max-width: 75%;
  }
}
#es-rc #es-rc-content .es-relief__title {
  font-family: "Montserrat";
  font-size: clamp(22px, 12.88px + 2.532vw, 38px);
  color: #FFF;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  top: 45%;
  left: 5%;
  transform: translateY(-50%);
}
#es-rc #es-rc-content .es-relief__title--italic {
  font-style: italic;
  font-size: clamp(0.65rem, -0.2917rem + 4.7083vw, 2.0625rem);
}
@media (min-width: 644px) and (max-width: 767px) {
  #es-rc #es-rc-content .es-relief__title--italic {
    font-size: 26px;
  }
}
#es-rc #es-rc-content .es-relief__title--middle {
  font-size: calc(2.3 * clamp(22px, 12.88px + 2.532vw, 38px));
  color: #a1bd39;
}
#es-rc #es-rc-content .es-relief__mobile {
  display: block;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-relief__mobile {
    display: none;
  }
}
#es-rc #es-rc-content .es-relief__desktop {
  display: none;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-relief__desktop {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 72%;
       object-position: 72%;
  }
}
#es-rc #es-rc-content .es-why {
  background-color: #a1bd39;
  font-family: "Amazon Ember", sans-serif;
}
#es-rc #es-rc-content .es-why .es-features__title {
  height: 3.6em;
}
@media (min-width: 401px) and (max-width: 767px) {
  #es-rc #es-rc-content .es-why .es-features__title {
    height: 2.4em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #es-rc #es-rc-content .es-why .es-features__title {
    height: 3.6em;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-why .es-features__title {
    height: 2.4em;
  }
}
#es-rc #es-rc-content .es-dose {
  background: rgb(4, 94, 72);
  background: linear-gradient(90deg, rgb(4, 94, 72) 22%, rgb(4, 132, 100) 40%, rgb(4, 109, 84) 67%, rgb(4, 124, 97) 95%, rgb(4, 116, 92) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#045e48", endColorstr="#04745c", GradientType=1);
}
#es-rc #es-rc-content .es-dose__grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  background-color: #a1bd39;
  border-radius: 15px;
  color: #fff;
  box-shadow: 2px 7px 15px 0px rgb(0, 99, 79);
  height: 340px;
}
@media (max-width: 391px) {
  #es-rc #es-rc-content .es-dose__grid {
    height: unset;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-dose__grid {
    font-size: calc(1.15 * clamp(12px, 9.722px + 0.6329vw, 16px));
    height: 415px;
  }
}
#es-rc #es-rc-content .es-dose__grid--row {
  display: grid;
  grid-template-columns: 42% 1fr;
  padding: 1rem;
  align-content: center;
}
#es-rc #es-rc-content .es-dose__grid--row:nth-of-type(2n) {
  background-color: #bad45b;
}
#es-rc #es-rc-content .es-dose__grid--row:last-of-type {
  border-radius: 0 0 15px 15px;
}
#es-rc #es-rc-content .es-dose__bold {
  font-weight: 700;
}
#es-rc #es-rc-content .es-dose__textUnderBox {
  font-size: clamp(12px, 9.722px + 0.6329vw, 16px);
  color: #fff;
}
#es-rc #es-rc-content .es-dose__box {
  padding: 0;
  background-color: #a1bd39;
  border-radius: 15px;
  color: #fff;
  box-shadow: 2px 7px 15px 0px rgb(0, 99, 79);
  aspect-ratio: 551/479;
  display: grid;
  place-items: center;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-dose__box {
    aspect-ratio: unset;
    height: 415px;
  }
}
#es-rc #es-rc-content .es-dose__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: clamp(12px, 9.722px + 0.6329vw, 16px);
  font-family: "Amazon Ember", sans-serif;
  padding: 1rem;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-dose__figure {
    font-size: calc(1.25 * clamp(12px, 9.722px + 0.6329vw, 16px));
  }
}
#es-rc #es-rc-content .es-dose__figure img {
  height: 250px;
  aspect-ratio: 110/291;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-dose__figure img {
    height: 300px;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-dose__figure img {
    height: 350px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-dose__figure img {
    height: 250px;
  }
}
#es-rc #es-rc-content .es-dose__name {
  text-align: center;
  color: #fff;
  font-size: calc(1.3 * clamp(12px, 9.722px + 0.6329vw, 16px));
  margin-top: 10px;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-dose__name {
    font-size: calc(1.625 * clamp(12px, 9.722px + 0.6329vw, 16px));
  }
}
#es-rc #es-rc-content .es-dose__description {
  color: #000;
  margin-block: 7px;
  text-align: center;
  text-wrap: balance;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-dose__description {
    max-width: 59%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    font-size: calc(1.2 * clamp(12px, 9.722px + 0.6329vw, 16px));
  }
}
#es-rc #es-rc-content .es-dose__title {
  font-family: "Montserrat";
  font-size: clamp(22px, 12.88px + 2.532vw, 38px);
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-cross {
  font-family: "Amazon Ember", sans-serif;
}
#es-rc #es-rc-content .es-cross__title {
  width: 100%;
}
#es-rc #es-rc-content .es-cross__text {
  font-family: "Montserrat";
  font-size: clamp(22px, 12.88px + 2.532vw, 38px);
  font-weight: 700;
  text-transform: uppercase;
  color: #005649;
}
#es-rc #es-rc-content .es-cross__badge {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 10px;
  top: -10px;
  left: -10px;
  color: #fff;
  background-color: #e4022e;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
#es-rc #es-rc-content .es-cross td {
  vertical-align: middle;
  border: none;
  min-width: 150px;
  color: #000;
  font-weight: 500;
  background-color: #FFF;
}
#es-rc #es-rc-content .es-cross th {
  vertical-align: middle;
  border: none;
  min-width: 110px;
  color: #005649;
  font-weight: 500;
  background-color: #FFF;
}
#es-rc #es-rc-content .es-cross__head {
  font-size: calc(1.67 * clamp(12px, 9.722px + 0.6329vw, 16px));
  font-weight: 800;
  color: #005649;
}
#es-rc #es-rc-content .es-cross__image {
  max-height: 170px;
}
#es-rc #es-rc-content .es-cross__image:hover {
  cursor: pointer;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-cross__image {
    max-height: 220px;
  }
}
#es-rc #es-rc-content .es-cross__emptyImage {
  height: calc(170px + 1rem);
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-cross__emptyImage {
    height: calc(220px + 1rem);
  }
}
#es-rc #es-rc-content .es-cross table {
  padding: 0;
  margin: 0;
  border-color: transparent;
  font-size: clamp(12px, 9.722px + 0.6329vw, 16px);
}
#es-rc #es-rc-content .es-cross__table--left tbody {
  border: 3px solid white;
}
#es-rc #es-rc-content .es-cross .text-left--0 {
  height: 80.3px;
}
#es-rc #es-rc-content .es-cross .text-left--1 {
  height: 44.8px;
}
@media (min-width: 576px) {
  #es-rc #es-rc-content .es-cross .text-left--1 {
    height: 48.05px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-cross .text-left--1 {
    height: 54.4px;
  }
}
#es-rc #es-rc-content .es-cross__bordered-1 tbody {
  border: 3px solid #a1bd39;
  border-radius: 10px;
}
#es-rc #es-rc-content .es-cross .header-row {
  height: 84px;
}
#es-rc #es-rc-content .es-cross .header-row td {
  vertical-align: top;
}
#es-rc #es-rc-content .es-cross__bordered-2 tbody {
  border: 3px solid #71c7d6;
  border-radius: 10px;
}
#es-rc #es-rc-content .es-cross .type-row {
  height: 54px;
}
#es-rc #es-rc-content .es-cross .properties-row {
  height: 92px;
}
@media (min-width: 440px) {
  #es-rc #es-rc-content .es-cross .properties-row {
    height: 110px;
  }
}
@media (min-width: 550px) {
  #es-rc #es-rc-content .es-cross .properties-row {
    height: 120px;
  }
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-cross .properties-row {
    height: 130px;
  }
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-cross .properties-row {
    height: 155px;
  }
}
#es-rc #es-rc-content .es-cross .es-articles__button {
  padding: 7px 21px;
}
#es-rc #es-rc-content ::-webkit-scrollbar {
  width: 12px;
}
#es-rc #es-rc-content ::-webkit-scrollbar:vertical {
  width: 12px;
}
#es-rc #es-rc-content ::-webkit-scrollbar:horizontal {
  height: 12px;
}
#es-rc #es-rc-content ::-webkit-scrollbar-track {
  background-color: #E8E8E8;
  border-radius: 10px;
}
#es-rc #es-rc-content ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #005649;
}
#es-rc #es-rc-content .es-articles__button {
  text-decoration: none;
  color: #fff;
  width: -moz-max-content;
  width: max-content;
  padding: 7px 14px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 99px;
  line-height: 1.3;
  margin: 0 auto 10px;
  background-color: #00604d;
  transition: all 200ms ease-in-out;
}
#es-rc #es-rc-content .es-articles__button:hover {
  background-color: #FFF;
  color: #00604d;
  outline: 3px solid #00604d;
}
@media (min-width: 992px) {
  #es-rc #es-rc-content .es-articles__button {
    font-size: 20px;
    padding: 7px 14px;
  }
}
#es-rc #es-rc-content .es-footer {
  font-family: "Amazon Ember", sans-serif;
}
#es-rc #es-rc-content .es-footer__text {
  color: #000;
  font-size: clamp(12px, 9.722px + 0.6329vw, 16px);
  font-weight: 400;
  line-height: 1.2;
}
#es-rc #es-rc-content .es-footer__text--1 {
  font-size: 12px;
  white-space: nowrap;
  color: #005649;
  font-weight: 700;
  margin: 0;
}
#es-rc #es-rc-content .es-footer__text--2 {
  font-weight: 700;
}
#es-rc #es-rc-content .es-footer__text--3 {
  font-size: clamp(22px, 12.88px + 2.532vw, 38px);
  font-weight: 700;
  color: #00604d;
}
#es-rc #es-rc-content .es-footer ol {
  padding-left: 1rem;
}
#es-rc #es-rc-content .es-footer__logo-MAT {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 5px;
}
#es-rc #es-rc-content .es-footer__logo {
  width: 30%;
  max-width: 130px;
}
#es-rc-content .col-5 {
  padding-top: 5px;
  padding-inline: 0;
}
#es-rc #es-rc-content .text-left {
  text-align: left;
} 
#es-rc #es-rc-content .es-cross > .container {
  padding-inline: 0;
} 